.container{
    display: grid;
    grid-template-columns: repeat(2,200px 500px);
    grid-template-rows: 100px 200px 300px;
    /* column-gap: 10px;
    row-gap: 20px; */
    gap: 20px;
}
.col{
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border: 5px solid red;
}
